.about {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 1000px;
}

.about__image {
  border-radius: 50%;
  width: 464px;
  height: 464px;
  object-fit: cover;
  margin: 80px 56px 80px 104px;
}

/* Container for the info section */
.about__info {
  margin-top: 131px;
}

/* Container for the title */
.about__title-container {
  margin-bottom: 24px;
}

/* Title styling */
.about__title {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  line-height: 46px;
  font-weight: 400;
  margin: 0;
}

/* Container for the text */
.about__text-container {
  width: 600px; /* Set the width for the text container */
  text-align: left;
}

/* Text styling */
.about__text {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  color: rgba(26, 27, 34, 1);
  margin-bottom: 24px;
  font-weight: 400;
}

@media (max-width: 720px) {
  .about__image {
    width: 232px;
    height: 232px;
    margin: 61px 40px 61px 32px;
  }

  .about__title {
    font-size: 30px;
    line-height: 1.33px;
  }
}

@media (max-width: 320px) {
  .about {
    display: flex;
    flex-direction: column;
  }
  .about__image {
    width: 272px;
    height: 272px;
    margin: 32px 24px 24px 24px;
  }
  .about__info {
    margin-top: 15px;
  }

  .about__title {
    margin-left: 24px;
  }

  .about__text-container {
    width: 305px; /* Set the width for the text container */
    text-align: left;
    margin-bottom: 128px;
  }

  .about__text {
    margin-left: 24px;
  }
}
